body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
}

.book-item-add {
    text-align: center;
}

.input-book,
.book-list-info,
.book-list-container,
.welcome-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.form-control {
    margin-bottom: 10px !important;
}

.btn.btn-outline-primary.btn-sm {
    align: center !important;
}

.form-show-book {
    display: flex;
    flex-direction: column;
}

.book-read {
    align-self: center;
}

.book-option {
    color: #007bff;
    text-align: center;
}

.form-buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
}